@charset "UTF-8";
@import "app";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700&subset=cyrillic);

* {
  margin: 0;
  padding: 0; }

a:link, a:visited, a:hover, a:focus, a:active {
  outline: none; }

button:link, button:visited, button:hover, button:focus, button:active {
  outline: none; }

*:focus {
  outline: none; }

.clearboth::after {
  display: block;
  content: "";
  clear: both; }

@font-face {
  font-family: "AcrobatLight";
  src: url(../fonts/Akrobat-Light.otf); }
@font-face {
  font-family: "AcrobatReg";
  src: url(../fonts/Akrobat-Regular.otf); }
body {
  font: 14px/21px "Open Sans", sans-serif;
  font-size: 13px;
  background: #f1f3f3 none repeat scroll 0 0;
  color: #000;
  line-height: 1.3em;
  margin: 0;
  padding: 0; }

.no_padding {
  padding: 0 !important; }

.paddding_for_tab {
  padding-left: 7px;
  padding-right: 15px; }

/* Header */
.navbar {
  height: 80px; }

.navbar-nav {
  align-items: center; }

nav li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px; }

#navbarNav {
  flex-direction: row;
  justify-content: flex-end; }

.def-nav {
  color: #1a1a1a;
  margin: 0 15px; }
.def-nav .nav-link {
  padding: 0 0 3px 0 !important; }

nav .active > a, nav .def-nav > a:hover {
  background-color: transparent;
  color: #1a1a1a;
  box-shadow: 0 2px #1a1a1a; }

.drop-nav {
  color: #1a1a1a;
  border: solid 1px #e6e6e6;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 20px; }

.add-nav {
  margin-left: 20px;
  border-radius: 7px;
  padding: 0 10px;
  background-color: #a5c715;}

.add-nav a {
  color: #fff !important; }

#header-pic {
  height: 275px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.header-pic-title {
  height: 250px;
  h1 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 40px;
    color: #fff;
    line-height: 29px;
  }
  p {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 19px;
    color: #fff;
    line-height: 13px;
  }
}


/* Filter */
#filter {
  height: 70px;
  background-color: #fff;
  border-color: #e1e3e5;
  border-width: 1px 0;
  padding-top: 20px; }

#filter::after {
  display: block;
  content: "";
  clear: both; }

.filter-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  color: #808080;
  float: left;
  padding-top: 5px; }

.filter-but {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  border-radius: 7px;
  background-color: #1689c7;
  color: #fff;
  width: 135px;
  float: left;
  margin-left: 15px;
  text-align: center; }

.filter-sub {
  float: left;
  margin-left: 15px;
}

.drop-filter {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 15px;
  float: left;
  margin-left: 15px;
  background-image: url("../images/drop_filter.png");
  background-repeat: no-repeat;
  background-position: center center; }

.filter-week {
  margin-left: 10px;
  /* ╨Ю╨▒╨╜╤Г╨╗╤П╨╡╨╝ ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╨╛╨▓ */
  padding: 5px;
  /* ╨Ч╨╜╨░╤З╨╡╨╜╨╕╨╡ ╨┐╨╛╨╗╨╡╨╣ */ }

.filter-week li {
  display: inline;
  /* ╨Ю╤В╨╛╨▒╤А╨░╨╢╨░╤В╤М ╨║╨░╨║ ╤Б╤В╤А╨╛╤З╨╜╤Л╨╣ ╤Н╨╗╨╡╨╝╨╡╨╜╤В */
  margin-left: 10px;
  /* ╨Ю╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ */
  /* ╨Я╨╛╨╗╤П ╨▓╨╛╨║╤А╤Г╨│ ╤В╨╡╨║╤Б╤В╨░ */
  border-radius: 50px;
  background-color: transparent;
  border: #919191 1px solid;
  color: #919191;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer; }

.filter-week li:hover {
  background-color: #1689c7;
  color: #fff;
  border: transparent 1px solid; }

.filter-week .active {
  border: transparent 1px solid;
  background-color: #a5c715;
  color: #fff; }

/* Content */
#main_container {
  margin-top: 25px;
  margin-bottom: 25px;
  @include clearfix;
}

/* ╨в╨░╨▒╨╗╨╕╤Ж╨░ ╤Б ╤Б╨╡╤А╨▓╨╡╤А╨░╨╝╨╕ */
//.margin-tab {
//  margin-left: 15px; }

.servers-tab {
  border-radius: 10px;
  background-color: #f5f7fa;
  //float: left;
  box-shadow: 0px 0px 8px -3px #404040;
  @include clearfix;
}

.margin-tab .servers-tab:nth-child(n+2) {
  margin-top: 15px; }

.servers-tab > div {
  //float: left;
  width: 100%;
  height: 50px;
  border: #e1e3e6 solid;
  border-width: 0 0 1px 0; }

.servers-tab > div:last-child {
  //float: left;
  width: 100%;
  height: 50px;
  border-radius: 0 0 10px 10px; }

.servers-tab-title {
  background-color: transparent;
  padding: 15px 25px; }

.servers-tab-pre-title {
  background-color: #f5f5f5;
  padding: 15px 25px; }

.servers-tab-title span {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #3c4152;
  padding-left: 10px;
  border: solid #1689c7;
  border-width: 0 0 0 3px; }

.servers-tab-pre-title span {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #3c4152; }

/* VIP */
.servers-tab-exlusive {
  background-color: #5a6779;
  div {
    height: 50px;
  }
  .img {
    width: 10%;
    padding: 10px 0;
    float: left;
  }

  .name {
    width: 36%;
    float: left;
    padding: 15px 0 15px 0;
    overflow: hidden;
  }

  .name span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 11px;
    color: #ffe040;
  }

  .reit {
    width: 15%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .reit span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #ffe040;
  }

  .chronic {
    width: 17%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .chronic span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #ffe040;
  }

  .date {
    width: 12%;
    float: left;
    padding: 5px 15px 0;
  }

  .date span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    color: #ffe040;
  }

  .i {
    width: 10%;
    float: left;
    padding: 15px 11px 10px;
  }

  .i span {
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffdf41;
    background-color: #46505e;
    border-radius: 50%;
    padding: 5px 13px;
    cursor: pointer;
  }

  .i span:hover {
    background-color: #4f5b6b;
    color: #e2e4e7;
  }
}

/* PREM */
.servers-tab-silver {
  background-color: #ffffff;
  div {
    height: 50px;
  }
  .img {
    width: 10%;
    padding: 10px 0;
    float: left;
  }

  .name {
    width: 36%;
    float: left;
    padding: 15px 0 15px 0;
    overflow: hidden;
  }

  .name span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 11px;
    color: #3c4152;
  }

  .reit {
    width: 15%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .reit span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .chronic {
    width: 17%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .chronic span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .date {
    width: 12%;
    float: left;
    padding: 5px 15px 0;
  }

  .date span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    color: #3c4152;
  }

  .i {
    width: 10%;
    float: left;
    padding: 15px 0 15px 10px;
  }

  .i span {
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #a6a6a6;
    background-color: #e6e6e6;
    border-radius: 50%;
    padding: 5px 13px;
    cursor: pointer;
  }

  .i span:hover {
    background-color: #f2f2f2;
  }
}
/* NORMAL */
.servers-tab-light {
  background-color: #ffffff;
  div {
    height: 50px;
  }
  .img {
    width: 10%;
    float: left;
    padding: 10px 0;
  }

  .name {
    width: 36%;
    float: left;
    padding: 15px 0 15px 0;
    overflow: hidden;
  }

  .name span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .reit {
    width: 15%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .reit span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .chronic {
    width: 17%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .chronic span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .date {
    width: 12%;
    float: left;
    padding: 5px 15px 0;
  }

  .date span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    color: #3c4152;
  }

  .i {
    width: 10%;
    float: left;
    padding: 15px 11px 10px;
  }

  .i span {
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #e6e8ea;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px #e6e8ea;
    padding: 4px 12px;
    cursor: pointer;
  }

  .i span:hover {
    color: #a6a6a6;
    background-color: #e6e6e6;
  }
}

/* Free */
.servers-tab-free {
  background-color: #ffffff;
  div {
    height: 50px;
  }
  .img {
    width: 10%;
    float: left;
    padding: 10px 0;
  }

  .name {
    width: 36%;
    float: left;
    padding: 15px 0 15px 0;
    overflow: hidden;
  }

  .name span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .reit {
    width: 15%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .reit span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .chronic {
    width: 17%;
    float: left;
    padding: 15px 0 15px 0;
  }

  .chronic span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    color: #3c4152;
  }

  .date {
    width: 12%;
    float: left;
    padding: 5px 15px 0;
  }

  .date span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    color: #3c4152;
  }

  .i {
    width: 10%;
    float: left;
    padding: 15px 0 15px 10px;
  }

  .i span {
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #e6e8ea;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px #e6e8ea;
    padding: 4px 12px;
    cursor: pointer;
  }

  .i span:hover {
    color: #a6a6a6;
    background-color: #e6e6e6;
  }
}
/* Recommendation */

.tab {
  background-color: #f5f7fa;
  border-radius: 10px;
  min-height: 200px;
  float: left;
  border: solid 1px #f0f1f2;
  box-shadow: 0px 0px 8px -3px #404040; }

.tab:nth-child(n+2) {
  margin-top: 15px; }

.tab-title {
  float: left;
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 15px 25px;
  border: #f0f1f2 solid;
  border-width: 0 0 1px 0; }

.tab-title span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #3c4152;
  padding-left: 10px;
  border: solid #1689c7;
  border-width: 0 0 0 3px; }

.tab-recom {
  float: left;
  background-color: #fff;
  height: 100px;
  border: #f0f1f2 solid;
  border-width: 0 0 1px 0; }

.tab-recom:last-child {
  border-radius: 0 0 10px 10px; }

.recom_img {
  float: left;
  width: 25%;
  height: 100%;
  border: #f0f1f2 solid;
  border-width: 0 1px 0 0;
  img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin: 3px;
    -webkit-box-shadow: 0 0 0 1px rgba(76, 164, 212, 1);;
    box-shadow: 0 0 0 1px rgba(76, 164, 212, 1);;
  }
 }

.text-center {
  text-align: center !important;
}
.recom_conc_img {
  float: left;
  width: 25%;
  height: 100%;
  border: #f0f1f2 solid;
  border-width: 0 1px 0 0;
  background-image: url("../images/recom_conc.png");
  background-repeat: no-repeat;
  background-position: center center; }

.recom_work_img {
  float: left;
  width: 25%;
  height: 100%;
  border: #f0f1f2 solid;
  border-width: 0 1px 0 0;
  background-image: url("../images/recom_work.png");
  background-repeat: no-repeat;
  background-position: center center; }

.recom_cont {
  float: left;
  width: 70%;
  height: 100%;
  text-align: center;
  padding: 25px 0; }

.recom_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #3c4152; }

.recom_name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: #1789c7; }

.ad-img {
  img {
    border-radius: 10px;
    height: 110px;
    width: 280px;
  }
}

.partners {
  background: #fff; }
.partners::after {
  display: block;
  content: "";
  clear: both; }

.partners-text {
  padding: 10px 0; }

.partner-img {
  img {
    border-radius: 10px;
    height: 30px;
    width: 110px;
  }
}

.partners-text hr {
  margin: 1em auto;
  border: none;
  height: 1px;
  background: #ccc; }

.our-partners {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #a0a0a0; }

.footer {
  background: #242930; }
.footer::after {
  display: block;
  content: "";
  clear: both; }

.footer-menu-block {
  padding: 25px 0; }
.footer-menu-block::after {
  display: block;
  content: "";
  clear: both; }

.footer-menu {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  color: #fff; }

.soc {
  float: right;
  padding-left: 10px;
  padding-right: 10px; }

.vk {
  padding: 8px 12px 10px 12px; }

.face {
  padding: 8px 14px 10px 14px; }

.twitter {
  padding: 8px 12px 10px 12px; }

.soc div {
  color: #1da1f3;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px #2e343d;
  cursor: pointer;
  width: 100%;}

.soc div:hover {
  color: #fff;
  border: solid 1px #1da1f3; }

.footer-info {
  border-top: 1px solid #2e343d;
  border-bottom: 1px solid #2e343d;
  padding: 20px 0; }
.footer-info::after {
  display: block;
  content: "";
  clear: both; }

.info-top {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #373f4a;
  margin-bottom: 15px; }

.info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #373f4a; }

.footer-copi {
  padding: 20px 0; }
.footer-copi::after {
  display: block;
  content: "";
  clear: both; }

.footer-logo {
  float: left;
  width: 161px;
  height: 44px;
  cursor: pointer;
  background: url("../images/footer_logo.png") no-repeat center center; }

.footer-logo:hover {
  background: url("../images/footer_logo_hover.png") no-repeat center center; }

.copi-text {
  float: left;
  padding: 17px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #373f4a; }

/*# sourceMappingURL=main.css.map */


/** REG  **/

.page-title hr {
  float: left;
  width: 20px;
  margin-top: 18px;
  border: none;
  height: 3px;
  background: #1689c7; }

.page-title span {
  float: left;
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #3c4152;
  padding-left: 10px; }

.page-but {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #1689c7;
  color: #fff;
  min-width: 135px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer; }

.page-title-2 {
  height: 50px;
  background-color: #f5f5f5;
  border-bottom: solid 1px #e1e3e5;
}

.page-title-2 .unactive {
  color: #d2d3d5;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.page-title-2 .active {
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.page-content {
  border: solid 1px #e1e3e5;
  /*-webkit-box-shadow: 0px 0px 21px 2px rgba(225,227,229,1);*/
  /*-moz-box-shadow: 0px 0px 21px 2px rgba(225,227,229,1);*/
  /*box-shadow: 0px 0px 21px 2px rgba(225,227,229,1);*/
  background-color: #fff;
}

.form-input-block {
  min-height: 50px;
}

.form-input-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: #3c4152; }

.form-input {
  border: solid 1px #e1e3e5;
  border-radius: 15px;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  color: #3c4152; }

.form-select {
  border: solid 1px #e1e3e5;
  border-radius: 15px;
  height: 30px;
  width: 300px;
  padding-left: 5px;
  padding-right: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  color: #3c4152; }

.form-textarea {
  border: solid 1px #e1e3e5;
  border-radius: 15px;
  width: 300px;
  padding-left: 5px;
  padding-right: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #3c4152; }

.page-content-row {
  padding: 15px 0;
  border-bottom: solid 1px #e1e3e5;
}

.page-content-row:last-child {
  border-bottom: transparent;
}

/** MODAL  **/

.modal-title-my {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #979797;
}

.close {
  cursor: pointer;
  color: #5e5e5e;
  padding: 4px 10px 5px 10px!important;
  background-color: #fff!important;
  border-radius: 50%!important;
  border: solid 1px #e1e3e5!important;
}

.modal-header {
  background-color: #f1f3f3!important;
}

.modal-mes {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373f4a;
  margin-left: 15px;
}

.modal-body {
  padding: 0!important;
}

.modal-servers-tab {
  border-radius: 10px;
  background-color: #f5f7fa;
  min-height: 200px;
  box-shadow: 0px 0px 8px -3px #404040; }

.modal-servers-tab > div {
  float: left;
  width: 100%;
  height: 50px;
  border: #e1e3e6 solid;
  border-width: 0 0 1px 0; }

.modal-day {
  background-color: #a5c715;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  display: inline;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  padding: 10px 12px;
}

.form-submit {
  cursor: pointer;
  height: 30px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  border-radius: 15px;
  background-color: #a5c715;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff !important;
}

input[type=submit] {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  background-color: #a5c715;
  cursor: pointer;
  border-radius: 7px;
  color: #fff;
  height: 32px;
  width: 80px;
  float: left;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.badge-info {
  color: #fff;
  background-color: #e41212;
  padding: 0 10px;
  height: 15px;
  line-height: inherit;
  border-radius: 3px;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.oko-filter-div {
  border: none !important;
  padding: 0;
  margin-left: 10px;
  float: left;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}